@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('./assets/6494344.jpg'); */
    /* background-image: url('./assets/_8c0726b4-aaf7-4797-97bc-299e99fc12f2.jfif'); */
    min-height: 100svh;
    background-color: #262626;
    padding-bottom: 30px;
}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    width: 100%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.active_link {
    background-color: #ffffff;
    color: #262626;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    /* padding: 30px; */
    padding-block: 30px;
    gap: 20px;
     height: calc(100svh - 70px);
}

img {
    width: 100%;
}

div {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

h1 {
    font-family: 'Bungee Spice', sans-serif;
    color: #ffffff;
    padding-inline: 30px;
    /* text-shadow: 1px 1px 5px black; */
}

p {
    font-family: 'Poppins', sans-serif;
    padding-inline: 30px;
    color: #ffffff;
}

.button_link {
    background-color: #6bc8e7;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 5px;
    max-width: 300px;
    font-size: 14px;
    text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
    section {
        flex-direction: row-reverse;
        height: calc(100vh - 80px);
        height: calc(100svh - 80px);
        padding-block: 0;
        min-height: unset;
    }

    img {
        width: 50%;
        height: 100%;
    }

    body {
        padding-bottom: 0;
    }

    nav {
        height: 80px;
    }

    div {
        width: 50%;
    }

    
    h1 {
        font-size: 35px;
    }

    p {
        max-width: 600px;
        font-size: 1.5em;
    }

    .button_link {
        font-size: 20px;
        max-width: unset;
    }

}